:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%); /* back ground body*/
  --Strawberry-red: hsl(354, 84%, 57%);
  /* ------------------------------------------ */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%); /* back ground container*/
}

.text-pro4,
.online,
.larger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}
.text-pro4 small,
.online small,
.larger small {
  color: var(--Cool-gray);
}

.the-form4 {
  background-color: hsl(206deg 94% 87% / 30%);
  border-radius: 10px;
}
.header4 {
  padding: 20px;
  position: relative;
}
.header4 .process4 .text-pro4 {
  margin-bottom: 7px;
  color: var(--Marine-blue);
}
.header4 .change {
  margin-bottom: 20px;
  display: block;
  font-size: 13px;
  color: var(--Cool-gray);
}
.header4 .change:hover {
  color: var(--Purplish-blue);
}
.header4 hr {
  opacity: 0.3;
  border-color: var(--Pastel-blue);
  background-color: var(--Light-blue);
  width: 90%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.text4 {
  padding-top: 20px;
}
.text4 .online p {
  color: var(--Cool-gray);
  margin-bottom: 20px;
}
.text4 .larger p {
  color: var(--Cool-gray);
  margin-bottom: 10px;
}

.total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.total p {
  color: var(--Cool-gray);
  font-size: 18px;
  font-weight: 500;
}
.total b {
  color: var(--Purplish-blue);
  font-size: 19px;
  font-weight: 700;
}

.online {
  margin-bottom: 15px !important;
}
.state4 {
  display: none;
}

/* state 5 */

.state5 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fnl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fnl img {
  margin-bottom: 22px;
}
.fnl b {
  font-size: 30px;
  color: var(--Marine-blue);
  margin-bottom: 15px;
}

.fnl .prag {
  text-align: center;
  color: var(--Cool-gray);
  opacity: 0.7;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 500;
}
