:root {
  --Marine-blue: hsl(213, 96%, 18%);
  --Purplish-blue: hsl(243, 100%, 62%);
  --Pastel-blue: hsl(228, 100%, 84%);
  --Light-blue: hsl(206, 94%, 87%); /* back ground body*/
  --Strawberry-red: hsl(354, 84%, 57%);
  /* ------------------------------------------ */
  --Cool-gray: hsl(231, 11%, 63%);
  --Light-gray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%); /* back ground container*/
}

.all-service {
  display: flex;
  flex-direction: column;
}

.all-service .serviece {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border: 1px solid var(--Purplish-blue);
  height: 80px;
  border-radius: 7px;
}
.all-service .text-check {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 15px;
}
.all-service .text h5 {
  font-size: 17px;
  color: var(--Marine-blue);
  opacity: 0.9;
  margin-bottom: 5px;
}
.all-service .text p {
  color: var(--Cool-gray);
  opacity: 0.7;
}

.all-service .text-check input {
  width: 22px;
  height: 25px;
}

.all-service small {
  color: var(--Cool-gray);
  margin-right: 15px;
}

.state3 {
  display: none;
}
